.row{
   padding: 0;
}

.carousel {
  position: relative;
}

.carousel-inner .carousel-item img {
  object-fit: fill;
}

#carousel-thumbs {
  background: rgba(255,255,255,.6);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}


.carousel-item active {
    position: relative;
}





.textBox {
    background: rgba(255,255,255,.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 10rem;
}

.textBox > .propAddress h1, .textBox > .propAddress h2 {
    padding-bottom: 1rem;
}





.carousel-inner .img-fluid {
    padding: 0;
}

#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}


.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
    
}

@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
    
}


@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}









/*LISTING SECTION*/


/*h1 has 20px*/

.listing {
    padding-top: 30px;
}

.propAddress {
    text-align: center;
    color: #083880;
    margin-right: 10px;
    margin-left: 10px;
    
}

.propAddress h1 {
    padding-bottom: 0px;
}

h3 {
    font-size: 1.8rem;
}


.stats {
    text-align: center;
    color: #083880;
}

 h2 {
    font-size: 2rem;
    font-weight: 400;
    padding: 10px 0 5px 0;
}

h4 {
    font-size: 1.6rem;
    font-weight: 300;
}

.description p {
    color: #5A5A5A;
    padding-top: 25px;
}

.listingBtn {
   text-align: center;
    padding-bottom: 25px;
}

.listing .button {
    background-color: #083880;
    width: 33%;
    color: white;
    border: 0;
    height: 25px;
    border-radius: .25rem;
    height: 35px;
    width: 35%;
}




/*MAP SECTION*/

.map {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }

.map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }




/*FOOTER*/

footer {
    padding-top: 25px;
}










/*media qs*/

@media (min-width:769px) {
    
    
    .carouselContainer > .row {
        padding: 0px;;
    }
    
    
    .textBox {
    width: 60%;
}
    
    
    .col-md-12 {
        padding: 0;
    }
    
    /*h1 has 20px*/

    .listing {
        padding-top: 45px;
    }
    
    .listing .button {
        width: 25%;
        height: 2.5em;
    }
    
    .mapSection {
        padding-top: 25px;
    }
    
}






@media screen and (min-width: 1025px) {
    
    
/*    carousel section*/
    
       .textBox {
    width: 40%;
}
    
    
/*    LISTING SECTION*/
    
    .description {
        padding: 0 12% 0 12%;
    }
    
    
    
/*    MAP SECTION*/
    
    .mapSection {
        padding: 15px 5% 0 5%;
    }
    
}