* {
  box-sizing: border-box;
}

html {
    font-family: "Avenir Next";
    font-size: 10px;
}

h1 {
    font-size: 2.2rem;
    padding: 20px 0 20px 0;
}

p {
    font-size: 1.6rem;
}


.nav1 {
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,.6);
    position: absolute;
    top: 0;
    z-index: 1;
}

.top {
    position: relative;
}

.nav1 > .nav-header {
  display: inline;
    line-height: 50px;
}

.logo {
    width: 80%;
    padding: 5px 0px 0px 5px; 
}

.nav1 > .nav-header > .nav-title {
  display: inline-block;
}

.nav1 > .nav-btn {
  display: none;
    float: right;
}

.nav1 > .nav-links {
  font-size: 1.8rem;
    display: inline;
    float: right;
}

.nav1 > .nav-links > a {
  display: inline-block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #083880;
    text-align: center;
    line-height: 50px;
}

.nav1 > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav1 > #nav-check {
  display: none;
}

@media (max-width:768px) {
  .nav1 > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav1 > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav1 > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav1 > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav1 > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(255,255,255,.6);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav1 > .nav-links > a {
    display: block;
    width: 100%;
    font-weight: 500;
  }
  .nav1 > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav1 > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}






/*PROPERTIES SECTION*/

.middleProps {
    padding-top: 25px;
}

h1 {
 font-family: "Avenir Next";
 color: #083880;
 overflow: hidden;
 text-align: center;
}

h1:before,
h1:after {
 background-color: #083880;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 20%;
}

h1:before {
 right: 0.5em;
 margin-left: -50%;
}

h1:after {
 left: 0.5em;
 margin-right: -50%;
}

.img-fluid {
    padding: 10px 20px 10px 20px;
    position: relative;
}

.address {
    color: white;
    font-family: "Avenir Next";
    font-size: 1.8rem;
    position: absolute;
    padding-left: 6%;
    top: 6%;
}

.price {
    color: white;
    font-family: "Avenir Next";
    font-size: 1.6rem;
    position: absolute;
    right: 8%;
    top: 6%;
}

.specs {
    color: white;
    font-family: "Avenir Next";
    font-size: 1.6rem;
    position: absolute;
    right: 8%;
    top: 12%;
}

.spacer {
    padding: 0 2px 0 2px;
}






/*ABOUT SECTION*/

.aboutSection {
    background-color: #083880;
}

.aboutDesktop {
    display: none;
}

.aboutSection h1{
    color: white;
}

.aboutSection h1:before,
.aboutSection h1:after {
 background-color: white;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 20%;
}

.headshot {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutPic {
    padding-bottom: 25px;
}

p {
    color: white;
    padding: 0px 5% 25px 5%;
}

.aboutBtn {
   text-align:center;
    padding-bottom: 25px;
    font-size: 1.6rem;
}

.button {
    background-color: rgba(255,255,255,.3);
    width: 33%;
    color: white;
    border: 0;
    height: 25px;
    border-radius: .25rem;
    height: 35px;
    width: 35%;
    font-size: 1.6rem;
}












/*CONTACT*/

.contactSection {
    background-image: url("../assets/M1.jpg");
}

.contactForm {
    padding-top: 25px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Remove outline of all elements on focus */
  *:focus {
  	outline: 0;
  }

  /* Add styles to 'label' selector */
  label {
    color: white;
    font-family: "Avenir Next";
    font-size: 1.6rem;
    padding-top: 10px;
  }

  /* Add styles to 'input' and 'textarea' selectors */
  input[type=text],input[type=email],input[type=telephone], textarea {
    width: 100%;
    padding: 10px;
    background-color: rgba(255,255,255,.7);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: "Avenir Next";
    font-size: 1.6rem;
  }

  /* Add styles to show 'focus' of selector */
  input[type=telephone]:focus, input[type=text]:focus,input[type=email]:focus, textarea:focus {
  	border: 1px solid white;
  }


  /* Style 'hover' property */
  input[type=submit]:hover {
  	background: white;
  }


.formBtn {
   text-align:center;
    padding-bottom: 25px;
    padding-top: 25px;
}






/*FOOTER*/

footer {
    text-align: center;
    padding: 10px 0 5px 0;
}

footer ul {
    margin: 0;
}

footer li {
    display: inline;
}

.social {
    height: 30px;
    width: 30px;
    margin: 7px;
}

.handle {
    color: #083880;
    font-family: "Avenir Next";
    font-size: 1.5rem;
}

.copyright {
    color: #5A5A5A;
    font-family: "Avenir Next";
    font-size: 1.3rem;
    padding: 5px;
}







/*MEDIA Q*/

@media (min-width:769px) {
    
/*    PROPERTIES*/
    
    .col-md-4 {
        padding: 0;
    }
    
    .img-fluid {
        padding: 0 7.5px  7.5px;
    }
    
    .row {
        margin: 0;
        padding: 20px 7.5px 20px 7.5px;
    }

    .address {
    padding-left: 5%;
    top: 5px;;
}

    .price {
        top: 25px;
        left: 0;
        padding-left: 5%;
    }

    .specs {
        top: 43px;
        left: 0;
        padding-left: 5%;
    }

    .spacer {
        padding: 0 2px 0 2px;
    }
    
    
    
    
    
    
/*    ABOUT SECTION*/
    
    
    .aboutMobile {
    display: none;
}
    
    .aboutDesktop{
        display: initial;
    }
    
    .aboutSection {
        display: flex;
    }
    
    .aboutPic {
        flex: 25%;
        padding-left: 5%;
    }
    
    .bio {
        flex: 70%;
    }
    
}








@media screen and (min-width: 1025px) {
    
    
    
}